@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
*{
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('../fonts/SilkSerif-Italic.woff');
    font-weight: normal;
    font-style: italic;
  }

@font-face {
    font-family: 'Silk Bold';
    src: url('../fonts/SilkSerif-BoldItalic.woff');
}

.text-silk-italic-bold{
    font-family: 'Silk Bold';
}

.text-silk-italic{
    font-family: 'Silk Serif';
}

.font-500{
    font-weight: 500;
}

.nav-item{
    position: relative;
    display: flex;
    justify-content: center;
}

.navbar-home .nav-item::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    border-radius: 50em;
    background: #fff;
    bottom: 0;
    transition: .3s linear;
}


.navbar-home li a{
    color: #EEEBEB!important;
    opacity: .7;
}

.navbar-home li:hover a, .navbar-home li.active a{
    opacity: 1;
}


.navbar-home .nav-item:hover::before{
   width: 90%;
}
.h-screen{
    min-height: 100vh;
}


.bg-black{
    background-color: black;
}

.tagline-about{
    margin-top: 15rem;
}

.tagline h1{
    font-size: 90px;
    line-height: .9;
    font-weight: 250;
}

.navlink,.text-13{
    font-size: 13px!important;
}
.widget{right: 90px; top: 0;z-index: 100;}

.nav-right{
    flex-direction: column;
}

.nav-right li{
    list-style: none;
    border: 2px solid #fff ;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease-in-out;
    opacity: .4;
}

.arrow-up{
    z-index: 101;
    bottom: 40px;
    right: 100px;
    opacity: .4;
    transition: .2s ease-in-out;
}

.arrow-up:hover{
    opacity: 1;
}

.nav-right li:not(:last-child){
    margin-bottom: 15px;
}

.nav-right li:hover{
    opacity: 1;
}

.z-1{
    z-index: 1;
}

.z-2{
    z-index: 2;
}

.tagline-about h1{
    font-size: 60px;
}

.text-about h5{
    font-size: 20px;
}

.text-about h1{
    font-size: 125px;
}

.img-banner-project{
    background-color: #EEEBEB;
    height: 490px;
    overflow: hidden;
}

.img-banner-project img{
    object-fit: cover;
    max-width: 80%;
    object-position: 0px -200px;
}


.slider-article .content{
    width: 300px!important;
    overflow: hidden;
    margin: 0px 1rem;
}

.slider-article .content:nth-child(1){
    /* padding-left: 100px!important; */
}

.slider-article .content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-article .content .caption{
    font-size: 10px;
}

.slider-article{
}

.tagline{
    height: 90vh;
}

.slider-client div{
	display: flex!important;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
}

.slider-client .slider-item{
	max-width: 270px !important;
	min-height: 70px!important;
	margin: 0px 10px
}

.slider-client img{
	height: 60px;
	max-width: 250px;
}

.slider-article .slick-slide:hover, .slick-current{
    /* padding-top: 50px!important; */
}

.slider-article .slick-slide{
    transition: .3s all;
}

.banner-about{
    margin-top: 30vh;
}

.banner-about h1{
    font-size: 50px;
}

.group-9{
    top: -450px;
}

.group-10{
    max-height: 150vh;
}

.section-about{
    /* background-image: url(../img/background.png);
    background-position: center;
    background-size: cover; */
    /* min-height: 100vh; */
    margin-bottom: 20rem;
}

.text-vertical{
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    
}

.button-navigation{
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    text-align: center;
    text-transform: uppercase;
    flex-wrap: wrap;
}

.title-article{
    font-size: 64px;
}

.collaps{
    background-color: black;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-100vh);
    transition: .4s ease;
    transition-delay: .3s;
    z-index: 104;
}


.nav-content{
    min-height: 100vh;
    /* background-image: url(); */
}

.collaps .nav-link{
    font-size: 50px;
    line-height: 1.3;
}

.overflow-hidden{
    overflow: hidden;
}

.collaps .nav-item{
    justify-content: start;
    padding-left: 30px;
}

.collaps .nav-link{
    margin: 10px 0px;
}

.overlay{
    content: '';
    position: absolute;
    z-index: 103;
    background-color: black;
    opacity: 0;
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    visibility: hidden;
    transition: .2s ease-in-out;
    transition-delay: .2s;
}

.navbar-example.show .overlay{
    backdrop-filter: blur(5px);
    visibility: visible;
    opacity: .5;

}

.navbar-example.show .collaps{
    transform: translateY(0%);
}

.align-middle{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.text-title{
    font-size: 50px;
}
.text-title.text-yellow{
    font-size: 60px;
}

.text-yellow{
    color: #FFB905;
}

.fw-bold{
    font-weight: 600;
}


.tagline-works{
    margin-top: -35px;
}

.img-works-absolute{
    top: -500px;
}

.card-article img{
    max-height: 260px;
}

.card-article{
    padding: 0px 2rem;
}

.container-article{
    padding-top: 30vh;
}

.text-decoration-none{
    text-decoration: none!important;
}

.group-12{
    top: -200px;
    max-height: 250vh;
}

.article-content{
    background-image: url(../img/group-12.svg);
    background-position-x: right;
    background-size: 100%;
    padding-top: 5rem;
    background-repeat: no-repeat;
}

.list-none{
    list-style: none;
}

.nav-side{
    position: relative; 
    padding-left: 30px;
}

.nav-side::before{
    content: '';
    position: absolute;
    height: 100%;   
    width: 4px;
    background-color: #fff;
    border-radius: 5px;
    left: 4px;
}

.nav-side::after{
    content: '';
    height: 10px;
    width: 12px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    left: 0px;
    border-radius: 50%;
    transition: .3s ease-in-out;
}

.mobile.nav-side::after{
    transform: translateY(50px);
}

.ar.nav-side::after{
    transform: translateY(100px);
}

.game.nav-side::after{
    transform: translateY(140px);
}

.internet.nav-side::after{
    transform: translateY(180px);
}

.virtual.nav-side::after{
    transform: translateY(220px);
}


.slider-article{
    max-height: 70vh;
}

.navbar-secondary{
    text-align: right;
    margin-left: auto;
}


.nav-logo{
    width: 70px;
}


@media(max-width:1200px){
    .mobile.nav-side::after{
        transform: translateY(80px);
    }
    
    .ar.nav-side::after{
        transform: translateY(150px);
    }
    
    .game.nav-side::after{
        transform: translateY(200px);
    }
    
    .internet.nav-side::after{
        transform: translateY(260px);
    }
    
    .virtual.nav-side::after{
        transform: translateY(320px);
    }
}



@media(max-width:1100px){
    .img-banner-project img {
        object-position: 0px -40%;
    }
}

@media(max-width:992px){
    .button-navigation{
        width: 170px;
        height: 170px;
    }

    .title-article{
        font-size: 40px;
    }
}

@media(max-width:767px){
    .tagline-about h1{
        font-size: 40px;
    }

    .banner h1{
        font-size: 60px;

    }

    .sm-w-100{
        width: 100%;
    }

    .tagline{
        height: 70vh;
    }

    .arrow-up{
        right: 35px;
    }
    .mh-50{
        max-height: 300px;
    }

    .slider-article{
        transform: translateX(0px);
        max-height: 60vh;
    }

    .slider-article .content{
        width: 208px!important;
        overflow: hidden;
    }
    
    .slider-article .content img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    
    .banner-about{
        margin-top: 20vh;
    }

    

    .text-vertical{
        font-size: 10px;
    }

}

@media(max-width:550px){


    .nav-logo{
        width: 50px;
    }
    .navbar-secondary{
        text-align: left;
        margin-left: 0;
    }
    .arrow-up{
        right: 20px;
    }

    .collaps .nav-link{
        font-size: 40px;
        line-height: 1;
    }
    .section-about{
        margin-bottom: 10rem;
    }
    .group-9{
        top: -50px;
    }
    .text-about h5{
        font-size: 20px;
    }
    
    .text-about h1{
        font-size: 55px;
    }
    .slider-article{
        max-height: 40vh;
    }

    .button-navigation{
        width: 140px;
        height: 140px;
        font-size: 12px!important;
    }
    .title-article{
        font-size: 30px;
    }

    .banner h1{
        font-size: 47px;
    }
    .img-banner-project img {
        object-position: 0px 0%;
    }

    .elipse{
        width: 90%;
    }

    .img-banner-project{
        height: auto;
        padding-bottom: 20px;
    }


    .text-11-mobile{
        font-size: 11px!important;
    }
    .our-value h3{
        font-size: 20px;
    }

    .our-value p{
        font-size: 14px;
    }

    .text-email{
        font-size: 24px;
    }

    .nav-address h4, .nav-address h2{
        font-size: 18px!important;
    }

    .text-right-mobile{
        text-align: right;
    }

    .text-copyright{
        font-size: 14px;
    }

    .nav-address p{
        font-size: 14px;
    }
}

@media(max-width:450px){
    .button-navigation{
        width: 100px;
        height: 100px;
    }
    .h-screen{
        min-height: 60vh;
    }

    .text-vertical{
        font-size: 5px;
    }

    .title-article{
        font-size: 25px;
    }
}
